name: Build and deploy ASP.NET Core app to Azure Web App - GymFlow-Api-AWR

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Restore
        run: dotnet restore Backend/API/API.csproj

      - name: Build
        run: dotnet build Backend/API/API.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish Backend/API/API.csproj -c Release -o publish

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: api
          path: publish

  deploy:
    runs-on: windows-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: api

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_93AFA319453F468FBD0346AF08F15804 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_30D1DE347B7045B199BD3FF9D602F05D }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_4C7AD85F4C144A5BB0C9ADD3A22DDD81 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: GymFlow-Api-AWR
          slot-name: Production
          package: .

